<footer>
    <div class="flex-container">

        <div class="copyright">
            <p style="font-size: 100 em">Copyright &copy; CitiGals Robotics 2019</p>
         </div>

        <div class="flex-container icons" style="flex-grow: 1">
            <div>
                <a href="mailto:stephaniehannon4@gmail.com" target="_blank">
                    <img src="/assets/images/SocialMediaIcons/gmailIcon.svg" alt="CircleLogo">
                </a>
            </div>

            <div>
                <a href="https://www.instagram.com/citigals/?hl=en" target="_blank">
                    <img src="/assets/images/SocialMediaIcons/instaIcon.svg" alt="CircleLogo">
                </a>
            </div>

            <div>
                <a href="https://twitter.com/citi_Gals" target="_blank">
                    <img src="/assets/images/SocialMediaIcons/twitterIcon.svg" alt="CircleLogo">
                </a>
            </div>  
        </div>

        
    </div>
    <!-- <p>Copyright &copy; CitiGals Robotics 2019</p> -->
</footer>