.background
    background-color: #f1f1f1


//THIS WORKS BUT WE DONT RLLY KNOW WHY DONT TOUCH
.carousel
    background-color: #f1f1f1
    width: 60%
    height: auto
    margin: auto
    display: inline-block
    text-align: center

.image
    width: 100%
    height: auto