<div class="header">
    <h1>Contact Us</h1>
    <h2>Let's get in touch.</h2>
    <p>Meetings are held in the Jacksonville/Ponte Vedra area every Saturday morning.</p>
    <p>Check out the links below to get involved.</p>
</div>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <a href="mailto:stephaniehannon4@gmail.com" target="_blank">
                <img src="/assets/images/SocialMediaIcons/gmailIcon.svg" alt="CircleLogo">
            </a>
        </div>
        <div class="col-4">
            <h2>Email</h2>
            <p>Stephanie Hannon:</p> 
            <p class="subtext">stephaniehannon4@gmail.com</p>
            <p>Michelle Carrico: </p>
            <p class="subtext">michelle.carrico@citi.com</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <a href="https://www.instagram.com/citigals/?hl=en" target="_blank">
                <img src="/assets/images/SocialMediaIcons/instaIcon.svg" alt="CircleLogo">
            </a>
        </div>
        <div class="col-4">
            <h2>Instagram</h2>
            <p>@citigals</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <a href="https://twitter.com/citi_Gals" target="_blank">
                <img src="/assets/images/SocialMediaIcons/twitterIcon.svg" alt="CircleLogo">
            </a>
        </div>
        <div class="col-4">
            <h2>Twitter</h2>
            <p>@citi_gals</p>
        </div>
    </div>
</div>
