h1
  padding: 1em
  //padding-bottom: 1em
  font-family: interstate, charcoal, sans-serif
  color: #c76387
  font-size: 3.5em

h2
  padding-bottom: .5em
  font-family: interstate, charcoal, sans-serif
  font-size: 2em

p 
  padding: .5em
  //padding-top: 0em
  font-family: interstate, charcoal, sans-serif
  font-size: 1.5em

.header
  text-align: center

.body
  padding-left: 10em
  padding-right: 10em

.row
  padding: 2em

img 
  width: 50%
  height: auto

.subtext
  font-size: 1.25em