<div class="header">
    <h1 id="header">Contact Us</h1>
    <h2 id="headerTwo">Let's get in touch.</h2>
    <p id="body">Meetings are held in the Jacksonville/Ponte Vedra area every Saturday morning.</p>
    <p id="bodyTwo">Check out the links below to get involved.</p>
</div>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <a href="mailto:stephaniehannon4@gmail.com" target="_blank">
                <img src="/assets/images/SocialMediaIcons/gmailIcon2.svg" alt="CircleLogo">
            </a>
        </div>
        <div class="col-4">
            <h2 id="headerThree">Email</h2>
            <p id ="bodyThree" class="subtext">stephaniehannon4@gmail.com</p>
            <p id="bodyFour" class="subtext">michelle.carrico@citi.com</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <a href="https://www.instagram.com/citigals/?hl=en" target="_blank">
                <img src="/assets/images/SocialMediaIcons/instaIcon2.svg" alt="CircleLogo">
            </a>
        </div>
        <div class="col-4">
            <h2>Instagram</h2>
            <p>@citigals</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <a href="https://twitter.com/citi_Gals" target="_blank">
                <img src="/assets/images/SocialMediaIcons/twitterIcon2.svg" alt="CircleLogo">
            </a>
        </div>
        <div class="col-4">
            <h2>Twitter</h2>
            <p>@citi_gals</p>
        </div>
    </div>
</div>
