<h1 id="header">Resources</h1>
<div class="subheader">
    <h3 id="body">Want to get your own robotics team started?</h3>
    <h3 id="bodyTwo">Here are some helpful links.</h3>
</div>

<div *ngIf="!smallViewport">
    <a *ngFor="let resource of links" href="{{resource.link}}" target="_blank">
    <team-left>
        <img photo class="teamphoto" src="{{resource.photo}}"  alt="image1">   
        <h2 header id="headerTwo">{{resource.title}}</h2>
        <p text id="bodyThree">{{resource.text}}</p>
    </team-left>
    </a>
</div>

<div *ngIf="smallViewport">
    <a *ngFor="let resource of links" href="{{resource.link}}" target="_blank">
        <h2 header style="font-size: 2em; padding: 1em; text-align: center">{{resource.title}}</h2>
    </a>
</div>

