<h1>Our Team</h1>

<team-left>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Stephanie Hannon</h2>
    <p text>Team Lead</p>
</team-left>

<team-right>
    <img photo class="teamphoto" src="/assets/images/Edited_TeamPhotos/Victoria_2019Circular.png" alt="image1">
    <h2 header>Victoria Huang</h2>
    <p text>Engineering</p>
</team-right>

<team-left>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Yashika Vadlamani</h2>
    <p text>Engineering</p>
</team-left>

<team-right>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Lynn Lawry</h2>
    <p text>Engineering</p>
</team-right>


<h1>Alumni Members</h1>
<team-left>
        <img photo class="teamphoto" src="/assets/images/Edited_TeamPhotos/EmilyH2019_Circular.png" alt="image1">
        <h2 header>Emily Hannon</h2>
        <p text>Team Founder</p>
</team-left>

<team-right>
    <img photo class="teamphoto" src="/assets/images/Edited_TeamPhotos/EmilyK2019_Circular.png" alt="image1">
    <h2 header>Emily Kelsey</h2>
    <p text>Programming</p>
</team-right>

<team-left>
    <img photo class="teamphoto" src="/assets/images/Edited_TeamPhotos/Farah2019_Circular.png" alt="image1">
    <h2 header>Farah Contractor</h2>
    <p text>Engineering</p>
</team-left>

<team-right>
    <img photo class="teamphoto" src="/assets/images/Edited_TeamPhotos/Kshama2019_Circular.png" alt="image1">
    <h2 header>Kshama Shetty</h2>
    <p text>Marketing</p>
</team-right>

<team-left>
    <img photo class="teamphoto" src="/assets/images/Edited_TeamPhotos/Riya2019_Circular.png" alt="image1">
    <h2 header>Riya Shah</h2>
    <p text>Marketing</p>
</team-left>

<team-right>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Maanasi Vadlamani</h2>
    <p text>Engineering</p>
</team-right>

<team-left>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Chloe Connor</h2>
    <p text>Engineering</p>
</team-left>

<team-right>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Jordan Sweeney</h2>
    <p text>Engineering</p>
</team-right>
                        
<team-left>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Amanda Doci</h2>
    <p text>Engineering</p>
</team-left>
                    
<team-right>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Elma Bektic</h2>
    <p text>Marketing</p>
</team-right>
                            
<team-left>
    <img photo class="teamphoto" src="/assets/images/LogoCircle.png" alt="image1">
    <h2 header>Kyla Cote</h2>
    <p text>Marketing</p>
</team-left>
                

            