<h1>Our Team</h1>

<team-left>
    <img photo class="teamphoto" [src]="team[0].photo"  alt="image1">
    <h2 header>{{team[0].name}}</h2>
    <p text>{{team[0].position}}</p>
</team-left>

<team-right>
    <img photo class="teamphoto" [src]="team[1].photo" alt="image1">
    <h2 header>{{team[1].name}}</h2>
    <p text>{{team[1].position}}</p>
</team-right>

<team-left>
    <img photo class="teamphoto" [src]="team[2].photo" alt="image1">
    <h2 header>{{team[2].name}}</h2>
    <p text>{{team[2].position}}</p>
</team-left>

<team-right>
    <img photo class="teamphoto" [src]="team[3].photo" alt="image1">
    <h2 header>{{team[3].name}}</h2>
    <p text>{{team[3].position}}</p>
</team-right>


<h1>Alumni Members</h1>
<team-left>
        <img photo class="teamphoto" [src]="teamAlum[0].photo" alt="image1">
        <h2 header>{{teamAlum[0].name}}</h2>
        <p text>{{teamAlum[0].position}}</p>
</team-left>

<team-right>
    <img photo class="teamphoto" [src]="teamAlum[1].photo" alt="image1">
    <h2 header>{{teamAlum[1].name}}</h2>
    <p text>{{teamAlum[1].position}}</p>
</team-right>

<team-left>
    <img photo class="teamphoto" [src]="teamAlum[2].photo" alt="image1">
    <h2 header>{{teamAlum[2].name}}</h2>
    <p text>{{teamAlum[2].position}}</p>
</team-left>

<team-right>
    <img photo class="teamphoto" [src]="teamAlum[3].photo" alt="image1">
    <h2 header>{{teamAlum[3].name}}</h2>
    <p text>{{teamAlum[3].position}}</p>
</team-right>

<team-left>
    <img photo class="teamphoto" [src]="teamAlum[4].photo" alt="image1">
    <h2 header>{{teamAlum[4].name}}</h2>
    <p text>{{teamAlum[4].position}}</p>
</team-left>

<team-right>
    <img photo class="teamphoto" [src]="teamAlum[5].photo" alt="image1">
    <h2 header>{{teamAlum[5].name}}</h2>
    <p text>{{teamAlum[5].position}}</p>
</team-right>

<team-left>
    <img photo class="teamphoto" [src]="teamAlum[6].photo" alt="image1">
    <h2 header>{{teamAlum[6].name}}</h2>
    <p text>{{teamAlum[6].position}}</p>
</team-left>

<team-right>
    <img photo class="teamphoto" [src]="teamAlum[7].photo" alt="image1">
    <h2 header>{{teamAlum[7].name}}</h2>
    <p text>{{teamAlum[7].position}}</p>
</team-right>
                        
<team-left>
    <img photo class="teamphoto" [src]="teamAlum[8].photo" alt="image1">
    <h2 header>{{teamAlum[8].name}}</h2>
    <p text>{{teamAlum[8].position}}</p>
</team-left>
                    
<team-right>
    <img photo class="teamphoto" [src]="teamAlum[9].photo" alt="image1">
    <h2 header>{{teamAlum[9].name}}</h2>
    <p text>{{teamAlum[9].position}}</p>
</team-right>
                            
<team-left>
    <img photo class="teamphoto" [src]="teamAlum[10].photo" alt="image1">
    <h2 header>{{teamAlum[10].name}}</h2>
    <p text>{{teamAlum[10].position}}</p>
</team-left>
                
