<app-carousel></app-carousel>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div>
    <h1 id="header">Mission</h1>
    <p id="body">CitiGals are an all-girls robotics team sponsored by Citi. As we work on our robot and compete against other teams, we are promoting women in IT!</p> 
</div>

<mat-grid-list cols="2" rowHeight="2:1" class="missionstory">
        <!--Photos from 2018-->
        <mat-grid-tile><img class="image" src="/assets/images/Beveled/Seaplane2018_12G8.jpg" alt="image1"></mat-grid-tile>
        <mat-grid-tile><img class="image" src="/assets/images/Beveled/Ranking2BeveledG4.jpg" alt="image2"></mat-grid-tile>
</mat-grid-list>

<div>
    <h1 id="headerTwo">Our Story</h1>
    <p id="bodyTwo">CitiGals Robotics was founded in 2017 with seven original members. Funded by Citi's Future in IT initiative, we are focused on increasing the prevalence of women in technology and engineering fields. Our first year, as a team with little to no experience, we participated in Vex EDR: In the Zone. Although we didn't make it to states, we ended the season with two Judges' Awards and a Sportsmanship Award!</p>
    <p id="bodyThree">
        Less than 10% of technology fields are composed of women. By creating an environment where girls can feel confident making contributions, giving input, and working on collaborative technology/robotics projects, CitiGals is creating a new generation of women in tech!
    </p>
</div>



<a href="https://www.instagram.com/citigals/?hl=en" target="_blank">
    <img class="banner" src="/assets/images/Web page samples and media/Insta/instabanner.png" alt="instagram @citigals">
</a>

